.preloader-text {
  font-size: 18px; }

.uppercase {
  text-transform: uppercase; }

.pointer {
  cursor: pointer; }

.maxItemsMenu {
  min-width: 70px;
  max-width: 70px; }

input::placeholder,
select::placeholder,
textarea::placeholder {
  color: #acacac !important; }

.table-wrapper {
  background-color: #fff; }

.standard-table.centered th, .standard-table.centered td {
  text-align: center; }

.standard-table th:first-child {
  padding-left: 5px; }

.standard-table th.name {
  min-width: 180px; }

.items-filterbar .btn {
  border-radius: 4px !important;
  box-shadow: none !important; }
  .items-filterbar .btn + .btn {
    margin-left: 15px; }
