.preloader-text {font-size: 18px;}
.uppercase {text-transform: uppercase;}
.pointer {cursor: pointer;}

input,
select,
textarea {
	&::placeholder {color: #acacac !important;}
}
// ---table----
.table-wrapper {
	background-color: #fff;
}
.standard-table {
	&.centered {
		th, td {text-align: center;}
	}
	th {
		&:first-child {padding-left: 5px;}
		&.name {min-width: 180px;}
	}
}

// ----------
.items-filterbar {
	.btn {
		border-radius: 4px !important;
		box-shadow: none !important;
		& + .btn {margin-left: 15px;}
	}
}